<!--<div *ngIf="tripDetails" class="trip-details-container">
  <h2>Trip Details</h2>
  <div class="payment-details-container">
    <div class="details-item">
      <strong>Departure Date:</strong> {{ tripDetails.departureDate | date: 'shortDate' }}
    </div>
    <div class="details-item">
      <strong>Departure Time:</strong> {{ tripDetails.departureTime }}
    </div>
    <div class="details-item">
      <strong>Origin City:</strong> {{ tripDetails.originCity }}
    </div>
    <div class="details-item">
      <strong>Duration:</strong> {{ tripDetails.duration }}
    </div>
    <div class="details-item">
      <strong>Arrival Date:</strong> {{ tripDetails.arrivalDate | date: 'shortDate' }}
    </div>
    <div class="details-item">
      <strong>Arrival Time:</strong> {{ tripDetails.arrivalTime }}
    </div>
    <div class="details-item">
      <strong>Destination City:</strong> {{ tripDetails.destinationCity }}
    </div>
    <div class="details-item">
      <strong>Price:</strong> {{ tripDetails.price | currency: 'EUR': 'symbol':'1.2-2' }}
    </div>-->

    <!-- User Input Fields -->
    <!--<div class="user-input-container">
      <label for="email"> <strong>Email:</strong></label>
      <input type="email" id="email" [(ngModel)]="userInput.email" required>

      <label for="creditCard"> <strong>Credit Card:</strong></label>
      <input type="text" id="creditCard" [(ngModel)]="userInput.creditCard" required>

      <label for="firstName"> <strong>First Name:</strong></label>
      <input type="text" id="firstName" [(ngModel)]="userInput.firstName" required>

      <label for="lastName"> <strong>Last Name:</strong></label>
      <input type="text" id="lastName" [(ngModel)]="userInput.lastName" required>

      <label for="shippingAddress"> <strong>Shipping Address: </strong></label>
      <input type="text" id="shippingAddress" [(ngModel)]="userInput.shippingAddress">

    </div>
  </div>

    <button class="buy-ticket-button" (click)="buyTicket()">Buy Ticket</button>
  </div>

  <div *ngIf="!tripDetails" class="not-found-container">
    <p>Trip details not found.</p>
  </div>-->
