<div class="container">
  <div class="recover-container">
    <div class="recover-form">
      <div class="titulo">
        <h2>Nova Password</h2>
      </div>
      <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
        <div class="recoverItems">
          <input type="password" id="newPassword" formControlName="newPassword" placeholder="Nova password">
          <input type="password" id="confirmNewPassword" formControlName="confirmNewPassword" placeholder="Confirmar password">
          <button type="submit" [disabled]="!changePasswordForm.valid">Confirmar</button>
        </div>

        <div *ngIf="confirmationMessage" class="confirmation-message">
          {{ confirmationMessage }}
        </div>

      </form>
    </div>
    <div class="login-branding" style="background-image: url('../../assets/Images/background.png');">
      <img src="../../assets/Images/logo.png" alt="Logo" class="logo" />
    </div>
  </div>
</div>
