<div class="d-flex flex-column align-items-center justify-content-center">
  <div>Nova password</div>
  <form class="form w-50" [formGroup]="changePasswordForm" (submit)="changePassword()">
    <div class="row m-3">
      <label for="newPassword">Nova Password*</label>
      <input class="col form-field" type="password" name="newPassword" formControlName="newPassword" autocomplete="on" />
    </div>
    <div class="row m-3">
      <label for="confirmNewPassword">Confirmar Nova Password*</label>
      <input class="col form-field" type="password" name="confirmNewPassword" formControlName="confirmNewPassword" autocomplete="on" />
    </div>
    <div class="row m-3">
      <button class="col btn btn-primary" [disabled]="!changePasswordForm.valid" type="submit">Alterar Password</button>
    </div>
  </form>
</div>
