<div class="payment-div">
  <div class="personal-data-cliente">
    <h1>Dados Pessoais:</h1>
    <p>Nome: {{ user?.name }}</p>
    <p>E-mail: {{ user?.email }}</p>
    <p *ngIf="user && user.age !== undefined">Idade: {{ user.age }} anos</p>
    <p *ngIf="user && user.occupation !== null">Ocupação: {{ user.occupation }}</p>
    <p *ngIf="user && user.nationality !== null">Nacionalidade: {{ user.nationality }}</p>
  </div>
  <div class="personal-data-acompanhante">
    <h1>Dados Pessoais:</h1>
    <p>Nome: {{ acomp?.name }}</p>
    <p>Género: {{acomp?.gender}}</p>
    <p *ngIf="acomp && acomp.nationality !== null">Nacionalidade: {{ acomp.nationality }}</p>
    <p *ngIf="acomp && acomp.birthDate !== undefined">Idade: {{ acomp.birthDate }} anos</p>
  </div>
</div>
