<div class="container">
  <div class="recover-container">
    <div class="recover-form">
      <h2>Recuperar Password</h2>
      <form [formGroup]="recoverForm" (ngSubmit)="recoverPassword()">
        <div class="form-group">
          <label for="email">E-Mail</label>
          <input type="email" id="email" formControlName="email" placeholder="Digite seu e-mail">
        </div>
        <div class="form-group">
          <button type="submit" [disabled]="!recoverForm.valid">Enviar pedido de recuperação</button>
        </div>
        <div *ngIf="confirmationMessage" class="confirmation-message">
          {{ confirmationMessage }}
        </div>
      </form>
    </div>
    <div class="recover-image" style="background-image: url('.. /../assets/Images/background.png');">
      <img src="../../assets/Images/logo.png" alt="Logo" class="logo" />
    </div>
  </div>
</div>

<div class="recover-wrapper">
  <div class="recover-card">
    <div class="recover-info">
      <h1>Recuperar Password</h1>
      <form [formGroup]="recoverForm" (ngSubmit)="recoverPassword()">
        <input type="email" id="email" formControlName="email" placeholder="E-Mail">
        <button type="submit" [disabled]="!recoverForm.valid">Enviar pedido de recuperação</button>
        <p *ngIf="confirmationMessage" class="confirmation-message">
          {{ confirmationMessage }}
        </p>
      </form>
    </div>
    <div class="recover-image">
      <img src="caminho-para-sua-imagem.jpg" alt="AeroHelper">
    </div>
  </div>
</div>
