.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* ou a altura desejada */
}

.recover-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff; /* ou qualquer outra cor de fundo desejada */
  border-radius: 10px; /* arredonda os cantos */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* sombra suave */
}

.recover-form {
  padding: 20px;
  flex-basis: 50%; /* ou a largura desejada */
}

.recover-form h2 {
  color: #0056b3; /* ou qualquer outra cor desejada */
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group button {
  width: 100%;
  padding: 10px;
  background-color: #0056b3; /* ou qualquer outra cor desejada */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-group button:disabled {
  background-color: #cccccc;
}

.recover-image {
  flex-basis: 50%; /* ou a largura desejada */
  text-align: center; /* centraliza a imagem horizontalmente */
}

.recover-image img {
  max-width: 100%;
  border-top-right-radius: 10px; /* arredonda os cantos superiores direitos */
  border-bottom-right-radius: 10px; /* arredonda os cantos inferiores direitos */
}

.confirmation-message {
  margin-top: 20px;
  color: green; /* ou a cor que preferir */
  text-align: center;
}

