<div class="container">
  <div class="recover-container">
    <div class="recover-form">
      <div class="titulo">
        <h2>Recuperar Password</h2>
      </div>
      <form [formGroup]="recoverForm" (ngSubmit)="recoverPassword()">
        <div class="recoverItems">
          <input type="email" id="email" formControlName="email" placeholder="Digite seu e-mail">
          <button type="submit" [disabled]="!recoverForm.valid">Enviar pedido de recuperação</button>
        </div>
        
        <div *ngIf="confirmationMessage" class="confirmation-message">
          {{ confirmationMessage }}
        </div>

      </form>
    </div>
    <div class="login-branding" style="background-image: url('../../assets/Images/background.png');">
      <img src="../../assets/Images/logo.png" alt="Logo" class="logo" />
    </div>
  </div>
</div>
