* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.profile {
  width: 95%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

  .top h1 {
    font-size: 24px;
    color: #333;
  }

.topButtons button {
  margin-right: 10px;
  border-radius: 25px;
  padding: 10px 20px;
  border: none;
  background-color: #87CEEB;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
}

  .topButtons button:last-child {
    margin-right: 0;
  }

  .topButtons button:hover {
    background-color: #006994;
  }

.separator {
  border-top: 2px solid #006994;
  margin: 30px 0;
}

.userContent {
  display: flex;
}

.userPage {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile-info {
  padding-right: 20px;
}

  .profile-info h1 {
    margin-bottom: 10px;
  }

.profile-info, .travelHistory {
  margin-bottom: 20px;
}

.history {
  padding-left: 20px;
  width: 75%;
}

.travelHistory {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0;
  background-color: #87CEEB;
  border-radius: 20px;
}

.travel {
  display: flex;
  width: 95%;
  align-items: center;
  justify-content: space-between;
  background-color: #006994;
  padding: 15px;
  margin: 10px 0;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  font-weight: bold;
  color: white;
}

.airlineLogo {
  width: 150px;
  height: auto;
  margin-right: 20px;
}

  .travel:last-child {
    margin-bottom: 0;
  }

.more a.button-link, .more a.button-link:visited {
  color: white;
  text-decoration: none;
}

  .more a.button-link:hover {
    text-decoration: underline;
  }

.origin, .destination, .more {
  text-align: center;
  padding: 10px;
}

  .origin p, .destination p, .more p {
    margin: 10px 0;
  }

.duration {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

  .duration p {
    align-self: flex-start;
    position: relative;
    top: -10px;
  }

  .duration::after {
    content: '';
    position: absolute;
    top: 90%;
    left: 30%;
    width: calc(100% + 60px);
    height: 2px;
    background-color: white;
    transform: translateX(-45%);
  }

  .duration::before {
    content: '';
    position: absolute;
    top: 93%;
    left: calc(100% + 10px);
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 12px solid white;
    transform: translateX(135%) translateY(-50%);
  }
