<div class="profile">
  <div class="top">
    <h1 id="title">Perfil do Utilizador</h1>
    <div class="topButtons">
        <button class="edit" *ngIf="!isLoggedInWGoogle"><a routerLink="/edit-profile">Editar Perfil</a></button>
        <button class="payments" routerLink="/payment-component" >Pagamentos</button>
        <button class="estatísticas" *ngIf="user?.role===2"><a routerLink="/statistics-page" style="text-decoration:none; color:black;">Estatísticas</a></button>
        <button class="premium"><a routerLink="/premium-component" style="text-decoration:none; color:black;">Premium</a></button>
    </div>
  </div>
  <div class="separator"></div>
  <div class="userContent">
    <div class="userPage">
      <img src="../../../assets/Images/user.png" alt="Profile Picture" class="profile-picture">
      <!--<form (submit)="uploadPhoto()">
      <input type="file" (change)="onFileSelected($event)" accept="image/*" />
      <button type="submit">Upload Photo</button>
    </form>
    <img [src]="photoPreview" *ngIf="photoPreview" /-->
      <div class="profile-info">
        <h1>{{ user?.name }}</h1>
        <p>E-mail: {{ user?.email }}</p>
        <p *ngIf="user && user.age !== undefined">Idade: {{ user.age }} anos</p>
        <p *ngIf="user && user.occupation !== null">Ocupação: {{ user.occupation }}</p>
        <p *ngIf="user && user.nationality !== null">Nacionalidade: {{ user.nationality }}</p>
      </div>
      <div class="delete" *ngIf="user && user.email !== undefined">
        <button id="delete_button" (click)="deleteUserProfile(user.email)"> Apagar Conta</button>
      </div>
    </div>
    <div *ngIf="user?.role === 1" class="history">
      <div *ngIf="historyLoading" class="loading">
        <img src="../../assets/Images/Fading circles.gif" alt="Carregando...">
        Carregando histórico...
      </div>
      <div *ngIf="!historyLoading && history.length === 0" class="no-history">
        Ainda não efetuou nenhuma reserva.
      </div>
      <div *ngIf="!historyLoading" class="history-content">
        <h3 id="historyTitle">Histórico</h3>
        <div class="travelHistory">
          <div *ngFor="let trip of history" class="travel">
            <ng-container *ngIf="trip.flights && trip.flights.length > 0 && trip.flights[0].segments && trip.flights[0].segments.length > 0">
              <div class="flight">
                <div class="ida">
                  <img [src]="trip.flights[1].segments[0].carrier.logoURL" alt="Logotipo da Companhia" class="airlineLogo">
                  <div class="origin">
                    <p>{{ trip.flights[1].segments[0].departure | date: 'dd/MM/YYYY' }}</p>
                    <p>{{ trip.flights[1].segments[0].departure | date: 'HH:mm' }} H</p>
                    <p>{{ trip.flights[1].segments[0].originCity.name}}</p>
                  </div>
                  <div class="duration">
                    <p>{{ trip.flights[1].duration }}</p>
                    <div class="arrow-line"></div>
                    <div class="arrow-head"></div>
                  </div>
                  <div class="destination">
                    <p>{{ trip.flights[1].segments[0].arrival | date: 'dd/MM/YYYY' }}</p>
                    <p>{{ trip.flights[1].segments[0].arrival | date: 'HH:mm' }} H</p>
                    <p>{{ trip.flights[1].segments[0].destinationCity.name}}</p>
                  </div>
                </div>
                <div class="volta">
                  <img [src]="trip.flights[0].segments[0].carrier.logoURL" alt="Logotipo da Companhia" class="airlineLogo">
                  <div class="origin">
                    <p>{{ trip.flights[0].segments[0].departure | date: 'dd/MM/YYYY' }}</p>
                    <p>{{ trip.flights[0].segments[0].departure | date: 'HH:mm' }} H</p>
                    <p>{{ trip.flights[0].segments[0].originCity.name}}</p>
                  </div>
                  <div class="duration">
                    <p>{{ trip.flights[0].duration }}</p>
                    <div class="arrow-line"></div>
                    <div class="arrow-head"></div>
                  </div>
                  <div class="destination">
                    <p>{{ trip.flights[0].segments[0].arrival | date: 'dd/MM/YYYY' }}</p>
                    <p>{{ trip.flights[0].segments[0].arrival | date: 'HH:mm' }} H</p>
                    <p>{{ trip.flights[0].segments[0].destinationCity.name}}</p>
                  </div>
                </div>
              </div>
            </ng-container>
            <div class="more">
              <p>Preço: {{ trip.price }}</p>
              <a href="your-target-url" class="button-link">Mais opções</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--ADMINISTRADOR-->
    <div *ngIf="user?.role === 2" class="list-users">
      <h3 id="lista-utilizadores-site">Lista de Utilizadores</h3>
      <input type="text" [(ngModel)]="searchTerm" (keyup.enter)="applyFilter()" placeholder="Search users">
      <ul>
        <li *ngFor="let u of users">
          {{u.name}} - {{u.email}}
          <button (click)="deleteUser(u.email)">Delete</button>
        </li>
      </ul>

      

    </div>

    
  </div>
