<div class="subs_container">
  <div class="title">
    <h2>Premium</h2>
  </div>
  <div class="separator"></div>
  <p class="text_info">
    Deseja subscrever-se ao premium? Veja as funcionalidades que irão ser dispostas a si
    ao subscrever-se!
  </p>
  <ul class="list-info">
    <li>Voos mensais ilimitados</li>
    <li>Possibilidade de marcar rotas especificas no mapa</li>
    <li>Filtrar voos por média de atrasos</li>
    <li>Filtrar voos por favoritos</li>
    <li>Visualizar voos anteriores</li>
    <li>Ativar notificações se preço para rota marcada baixar um certo valor</li>
    <li>Filtrar notificações</li> 
  </ul>
  <button class="prosseguir">Prosseguir  ></button>
  <div class="subs_aqui">
    <p>Já subscrito? Clique <a routerLink="" style="text-decoration:auto">AQUI</a> para cancelar a sua subscrição.</p>
  </div>
</div>
