
body, h2, ul, li, p, a {
  font-family: 'Roboto Slab', serif;
}

.premium-comp {
  padding: 20px;
  color: white;
  text-align: center; /* Centraliza o conteúdo */
}

.separator {
  border-top: 2px solid #006994;
  margin: 30px auto; /* Centraliza o separador */
  width: 80%; /* Ajuste a largura conforme necessário */
}

.title h2 {
  margin: 0; /* Remove margem padrão do h2 para alinhamento */
  font-weight:1000;
}

.prem_list1, .prem_list2 {
  padding: 20px;
  background: linear-gradient(to right, #006994, #003f5c);
  width: 500px;
  display: inline-flex; /* Permite que as listas fiquem lado a lado */
  flex-direction:column;
  margin: 20px; /* Espaçamento ao redor das listas */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 50%);
}

ul {
  list-style: none;
  padding: 10px;
  font-size: 20px;
}

li {
  text-align: center;
  padding: 7px;
  font-weight:300;
}

li h2{
    font-weight:800;
}

button {
  margin-top: 10px;
  border-radius: 25px;
  padding: 10px 20px;
  border: none;
  background-color: #87CEEB;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
}

  button:hover {
    background-color: #006994;
  }

a {
  color: #006994;
  text-decoration: underline;
}

  a:hover {
    color: #87CEEB;
  }

  .title h2{
      color:#006994;
      font:bolder;
  }

  .subs_aqui p{
      color:black;
  }
