<div class="premium-comp">
  <div class="title">
    <h2>Premium</h2>
  </div>
  <div class="separator"></div>
  <div class="listcontainer">
    <div class="list1">
      <div class="prem_list1">
        <ul>
          <li><h2>Normal</h2></li>
          <li>Máximo de 3 voos por mês</li>
          <li>Filtração limitada</li>
          <br />
          <br />
          <br />
          <li>Grátis</li>
        </ul>
      </div>
    </div>
    <div class="list2">
      <div class="prem_list2">
        <ul>
          <li><h2>Premium</h2></li>
          <li>Voos ilimitados</li>
          <li>Filtração de voos por preço</li>
          <li>Visualização de voos anteriores</li>
          <li>E mais!</li>
          <li>Apenas 15€ por mês</li>
        </ul>
        <div *ngIf="user !== null && user.role === 0">
          <button class="btn_subs" (click)="premiumSubscribe()"> Subscrever </button>
        </div>
        <div *ngIf="user !== null && user.role === 1">
          <button class="btn_subs" (click)="cancelPremiumSubscription()"> Cancelar Subscrição </button>
        </div>
      </div>
     </div>
  </div>
  <div class="subs_aqui">
    <p>Já subscrito? Clique <a routerLink="" style="text-decoration:auto">AQUI</a> para cancelar a sua subscrição.</p>
  </div>
</div>
