<div class="signinitial">
    <div class="login-box">
        <div class="login-form">
            <div class="titulo">
                <h2>Insira o PIN</h2>
            </div>
            <form [formGroup]="confirmationForm" (ngSubmit)="confirmationCode()">
                <input type="text" id="code" formControlName="code" placeholder="Insira o PIN que foi enviado para o E-mail">
                <button type="submit" [disabled]="!confirmationForm.valid">Confirmar</button>

                <h3 *ngIf="confirmationMessage">{{ confirmationMessage }}</h3>

                <button (click)="resendConfirmationCode()">Resend Confirmation Code</button>
            </form>
        </div>
        <div class="login-branding" style="background-image: url('../../assets/Images/background.png');">
            <img src="../../assets/Images/logo.png" alt="Logo" class="logo" />
        </div>
    </div>
</div>

