<h1 id="tableLabel">Gym Members</h1>

<p *ngIf="!people"><em>Loading...</em></p>

<div *ngIf="people">
  <a routerLink="/person/create/" class="btn btn-success">Add New Member</a>
  <table class='table table-striped' aria-labelledby="tableLabel">
    <thead>
      <tr>
        <th width="180px">Member nr.</th>
        <th width="180px">Name</th>
        <th width="180px">Age</th>
        <th width="180px">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of people"
          (click)="onSelectPerson(person)"
          [class.table-primary]="person === selectedPerson">
        <!--<td>{{ person.personId }}</td>-->
        <td [textContent]="person.personId"></td>
        <td>{{ person.name | shortname }}</td>
        <td>{{ person.age | number: '3.0-0' }}</td>
        <td>
          <a href="#" [routerLink]="['/person/details', person.personId]" class="btn btn-info spaced-button">Details</a>
          <a href="#" [routerLink]="['/person/edit/', person.personId]" class="btn btn-primary spaced-button">Edit</a>
          <a href="#" [routerLink]="['/person/delete/', person.personId]" class="btn btn-danger">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="selectedPerson">
  <p style="display:inline">Selected: {{selectedPerson.name}} </p>
  <img style="display:inline" [src]="imagepath" *ngIf="selectedPerson.age >= 18" class="img-responsive" />
</div>

<div *ngIf="selectedPerson">
  <app-person [person]="selectedPerson"></app-person>
</div>
