<div class="regist-wrapper">
  <div class="regist-box">
    <div class="regist-form">
      <h2>Registo</h2>
      <form>
        <input type="text" id="name" placeholder="Nome completo" />
        <input type="text" id="email" placeholder="E-Mail" />
        <input type="password" id="password" placeholder="Password" />
        <input type="password" id="password-confirmation" placeholder="Confirmar password" />
        <button type="submit">Sign up</button>
        <button class="return">Voltar à pagina de login</button>

        <div class="separator"></div>

        <button class="login-google">Login por Google</button>
        <button class="login-outlook">Login por Outlook</button>

      </form>
    </div>
    <div class="login-branding" style="background-image: url('.. /../assets/Images/background.png');">
      <img src="../../assets/Images/logo.png" alt="Logo" class="logo" />
    </div>
  </div>
</div>
