<nav class="navbarx">
    <div class="logo">
        <a class="navbar-brand" [routerLinkActive]="['link-active']" [routerLink]="['/']"><img id="logotipo" src="/assets/Images/logo.png" /></a>
    </div>
    <div class="navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link text-white" [routerLink]="['/']">Home</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
                <a class="nav-link" [routerLink]="['/about']">About</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
                <a class="nav-link" [routerLink]="['/search-flights']">Procurar Vôos</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
                <a class="nav-link" [routerLink]="['/map']">Mapa</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="!isUserSignedIn && !isSignedIn">
                <a class="nav-link" [routerLink]="['/register']">Registar</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="!isUserSignedIn && !isSignedIn">
                <a class="nav-link" [routerLink]='["/sigin"]'>Login</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="isUserSignedIn || isSignedIn">
                <button class="nav-link" [routerLink]='["/premium-profile-page"]'> Perfil </button>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="isUserSignedIn && !isSignedIn">
                <button class="nav-link" [routerLink]='["/logout"]'>Logout</button>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="!isUserSignedIn && isSignedIn">
                <button class="nav-link" (click)="signOut()">Logout</button>
            </li>
        </ul>
    </div>
</nav>
