.navbarx {
  background-color: #006994;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;
}

.logo{
  flex: 1;
}

.logo img {
  height: 50px;
  width: auto;
}

.navbar-nav {
  flex-direction: row;

  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex: 3;
  justify-content: flex-end;
}

.nav-item {
  margin: 0 10px;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: flex;
  align-items: center;
}

[style*="display: none"] {
  display: none !important;
}

.nav-link button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px 15px; 
  display: inline-block;
}
