<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-006994 box-shadow ">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center"><img id="logotipo" src="/assets/Images/logo.png" /></a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse bg-006994 d-sm-inline-flex justify-content-between"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow-1">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-white" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white" [routerLink]="['/about']">About</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="!isSignedIn">
            <a class="nav-link text-white" [routerLink]="['/register']">Registar</a>
          </li>
          <li class="nav-item" *ngIf="!isSignedIn">
            <a class="nav-link text-white" [routerLink]='["/sigin"]'>Login</a>
          </li>
          <li class="nav-item" *ngIf="isSignedIn">
            <button class="nav-link text-white" [routerLink]='["/profile"]'> Perfil </button>
          </li>
          <li class="nav-item" *ngIf="isSignedIn">
            <button class="nav-link text-white" (click)="signOut()">Logout</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
