<div class="editInitial">
    <div class="titulo">
        <h2>Bem Vindo à edição de perfil, por favor faça as suas alterações</h2>
    </div>
    <div class="edit-wrapper">
        <div class="edit-form">
            <form class="form-edit" [formGroup]="editForm">
                <h2>Editar Perfil</h2>
                <div class="edit-profile-class">
                    <label>Foto de Perfil</label><br />
                    <img class="profile-picture" [src]="photoPreview" *ngIf="photoPreview" alt="Preview" />
                    <!-- (change)="onFileSelected($event)" -->
                    <input type="file" id="profilePicture" accept="image/*" /> <br />
                </div>
                <input type="text" formControlName="name" placeholder="Nome" />
                <input type="text" formControlName="email" readonly placeholder="Email" />
                <input type="date" formControlName="birthDate" placeholder="Data de Nascimento" />
                <div class="genderArea">
                    <p>Género:</p>
                    <div class="gender-option">
                        <label for="Masculino">Masculino:</label>
                        <input type="radio" id="Masculino" formControlName="gender" value="Masculino">
                    </div>
                    <div class="gender-option">
                        <label for="Feminino">Feminino:</label>
                        <input type="radio" id="Feminino" formControlName="gender" value="Feminino">
                    </div>

                </div>
                <input type="text" id="nationality" formControlName="nationality" placeholder="Nacionalidade" />
                <button class="button-save" type="submit" (click)="edit()">Salvar</button>
                <button class="delete_button" (click)="deleteUserProfile(user.email)"> Apagar Conta</button>
            </form>
        </div>
        <div class="login-branding" style="background-image: url('../assets/Images/background.png');">
            <img src="../assets/Images/logo.png" alt="Logo" class="logo" />
        </div>
    </div>
</div>
