* {
  font-family: 'Roboto Slab';
}

.editInitial {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: calc(100vh - 50px);
  overflow: hidden;
  flex-direction: column;
}

.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.edit-wrapper {
  width: 80%;
  min-width: calc(100vw - 500px);
  min-height: calc(100vh - 500px);
  margin: auto;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  box-sizing: border-box;
}

.edit-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-basis: 50%;
  background-color: #006994;
}

.edit-form h2 {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.edit-form input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 10px;
}

.edit-form button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 1px solid #000000;
  border-radius: 30px;
  background-color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  font-size: large;
}

.login-branding {
  width: 60%;
  background-size: cover;
  background-position: center;
}

.logo {
  max-width: 80%;
  height: auto;
  display: block;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.edit-form input,
.edit-form button,
.edit-form a {
  margin-bottom: 30px;
}

.edit-profile-class {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-profile-class label {
  color: white;
}

.profile-picture {
  width: 150px;
  height: 150px;
  padding-bottom: 10px;
}

.edit-profile-class input {
  margin-top: 20px;
}

.genderArea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px; 
}

.gender-option {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}

.gender-option label {
    padding-right: 10px;
}

  .gender-option input {
    margin-bottom: -2px;
  }

.delete_button {
  background-color: red !important;
  color: white !important;
 /* -webkit-text-stroke: 1px black !important;
  text-stroke: 1px black !important;*/
}
