.signinitial {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: calc(100vh - 50px);
  overflow: hidden;
  margin: auto;
  max-width: 1500px;
}

.login-box {
  width: 80%;
  min-width: calc(100% - 500px);
  min-height: calc(100vh - 500px);
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  box-sizing: border-box;
}


.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  flex-basis: 50%;
  background-color: #006994;
}

.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

h2 {
  margin: 0;
}

.login-form h2 {
  color: white;
  margin-bottom: 20px;
}

.login-form input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 10px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 1px solid #000000;
  border-radius: 30px;
  background-color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  font-size: large;
}

  .login-form button:disabled {
    background-color: #cccccc;
  }

.login-google, .login-outlook {
  display: flex;
  margin-top: 10px;
}

.additional-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

.login-branding {
  width: 60%;
  background-size: cover;
  background-position: center;
}

.logo {
  max-width: 80%;
  height: auto;
  display: block;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.separator {
  display: block;
  height: 1px;
  background-color: #dee2e6;
  margin: 8px 0;
}

.btn-separator {
  display: block;
  height: 1px;
  background-color: #dee2e6;
  margin: 8px 0;
}

.login-form input,
.login-form button,
.login-form a,
#login-googleBTN {
  margin-bottom: 30px;
}

#login-googleBTN {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 16px;
}
