<div class="recomendacoes-container">
  <h2>Recomendações</h2>

  <div *ngIf="isLoading" class="loading-indicator">
    <img src="../../assets/Images/Fading circles.gif" alt="Carregando...">
  </div>

  <div *ngIf="!isLoading" class="viagens-list">
    <div *ngFor="let viagem of flightResults" class="viagem-card">
      <img [src]="airlineLogo" alt="Logo">
      <div class="departure">
        <p>{{ viagem.departure | date: 'HH:mm' }} h</p>
        <p>{{ viagem.originCity.name }}</p>
      </div>
      <div class="duration">
        <p>{{ viagem.duration }} h</p>
      </div>
      <div class="destination">
        <p>{{ viagem.arrival | date: 'HH:mm' }} h</p>
        <p>{{ viagem.destinationCity.name }}</p>
      </div>
      <div class="price">
        <p>{{ viagem.price }} €</p>
        <a href="your-target-url" class="button-link">Mais opções</a>
      </div>
    </div>
  </div>
</div>
