<div class="recomendacoes-container">
  <h2>Recomendações</h2>

  <div *ngIf="isLoading" class="loading-indicator">
    <img src="../../assets/Images/Fading circles.gif" alt="Carregando...">
  </div>

  <div *ngIf="!isLoading" class="viagens-list">
    <div *ngFor="let trip of flightResults" class="viagem-card">

      <img *ngIf="trip.flights[0].segments?.[0]?.carrier?.logoURL" [src]="trip.flights[0].segments[0].carrier.logoURL" alt="Logo da Companhia Aérea">

      <div class="departure">
        <p>{{ trip.flights[0].segments[0].departure | date: 'dd/MM/YYYY' }}</p>
        <p>{{ trip.flights[0].segments[0].departure | date: 'HH:mm' }} h</p>
        <p>{{ trip.flights[0].segments[0].originCity.name }}</p>
      </div>

      <div class="duration">
        <p>{{ trip.flights[0].duration }} h</p>
      </div>

      <div class="destination">
        <p>{{ trip.flights[0].segments[trip.flights[0].segments.length - 1].arrival | date: 'dd/MM/YYYY' }}</p>
        <p>{{ trip.flights[0].segments[trip.flights[0].segments.length - 1].arrival | date: 'HH:mm' }} h</p>
        <p>{{ trip.flights[0].segments[trip.flights[0].segments.length - 1].destinationCity.name }}</p>
      </div>

      <div class="price">
        <p>{{ trip.price }} €</p>
        <a href="your-target-url" class="button-link">Mais opções</a>
      </div>

    </div>
  </div>
</div>
