<div *ngIf="trip" class="flight-data-container">
    <h2>Detalhes da viagem</h2>

    <div *ngFor="let flight of trip.flights" class="flight-section">
        <div *ngIf="flight.direction === 'Departure'">
            <h2>Vôo de Ida</h2>
            <div *ngIf="flight.segments.length === 1" class="flight-section">
                <div class="flight-details">
                    <p>Número de Vôo: {{ flight.segments[0].flightNumber }} H</p>
                    <p>Duração: {{ flight.duration }} H</p>
                    <p>Dia de Partida: {{ flight.departure | date: 'dd/MM/YYYY' }}</p>
                    <p>Hora de Partida: {{ flight.departure | date: 'HH:mm' }} H</p>
                    <p>Hora de Chegada: {{ flight.arrival | date: 'HH:mm' }} H</p>
                    <p>Origem: {{ flight.originCity.name }}</p>
                    <p>Destino: {{ flight.destinationCity.name }}</p>
                    <p>Companhia aérea: {{ flight.segments[0].carrier.name }}</p>
                </div>
            </div>

            <div *ngIf="flight.segments.length !== 1" class="flight-section">
                <div class="flight-details">
                    <p>Tempo total da viagem (Com Escalas): {{ flight.duration }} H</p>
                    <p>Dia de Partida: {{ flight.departure | date: 'dd/MM/YYYY' }}</p>
                    <p>Hora de Partida: {{ flight.departure | date: 'HH:mm' }} H</p>
                    <p>Dia de Chegada: {{ flight.arrival | date: 'dd/MM/YYYY' }}</p>
                    <p>Hora de Chegada: {{ flight.arrival | date: 'HH:mm' }} H</p>
                    <p>Origem: {{ flight.originCity.name }}</p>
                    <p>Destino: {{ flight.destinationCity.name }}</p>
                    <p>Nº de escalas: {{ flight.segments.length - 1 }}</p>
                </div>

                <h4>Percurso</h4>
                <div *ngFor="let segment of flight.segments; let j = index">
                    <div *ngIf="j > 0" class="waiting-time">
                        <h3>Escala - Tempo de espera: {{ calculateWaitTime(flight.segments[j-1].arrival, segment.departure) }}</h3>
                    </div>
                    <div class="segment-section">
                        <h3>Número do voo {{ segment.flightNumber }}</h3>
                        <div class="segment-details">
                            <p>Duração: {{ segment.duration }}</p>
                            <p>Hora de Partida: {{ segment.departure | date: 'HH:mm' }} H</p>
                            <p>Hora de Chegada: {{ segment.arrival | date: 'HH:mm' }} H</p>
                            <p>Origem: {{ segment.originCity.name }}</p>
                            <p>Destino: {{ segment.destinationCity.name }}</p>
                            <p>Companhia aérea: {{ segment.carrier.name }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="flight.direction === 'Arrival'">
            <h2>Vôo de Volta</h2>
            <div *ngIf="flight.segments.length === 1" class="flight-section">
                <div class="flight-details">
                    <p>Número de Vôo: {{ flight.segments[0].flightNumber }} H</p>
                    <p>Duração: {{ flight.duration }} H</p>
                    <p>Dia de Partida: {{ flight.departure | date: 'dd/MM/YYYY' }}</p>
                    <p>Hora de Partida: {{ flight.departure | date: 'HH:mm' }} H</p>
                    <p>Hora de Chegada: {{ flight.arrival | date: 'HH:mm' }} H</p>
                    <p>Origem: {{ flight.originCity.name }}</p>
                    <p>Destino: {{ flight.destinationCity.name }}</p>
                    <p>Companhia aérea: {{ flight.segments[0].carrier.name }}</p>
                </div>
            </div>
            
            <div *ngIf="flight.segments.length !== 1" class="flight-section">
                <div class="flight-details">
                    <p>Tempo total da viagem (Com Escalas): {{ flight.duration }} H</p>
                    <p>Dia de Partida: {{ flight.departure | date: 'dd/MM/YYYY' }}</p>
                    <p>Hora de Partida: {{ flight.departure | date: 'HH:mm' }} H</p>
                    <p>Dia de Chegada: {{ flight.arrival | date: 'dd/MM/YYYY' }}</p>
                    <p>Hora de Chegada: {{ flight.arrival | date: 'HH:mm' }} H</p>
                    <p>Origem: {{ flight.originCity.name }}</p>
                    <p>Destino: {{ flight.destinationCity.name }}</p>
                    <p>Nº de escalas: {{ flight.segments.length - 1 }}</p>
                </div>
                
                <h3>Percurso</h3>
                <div *ngFor="let segment of flight.segments; let j = index" >
                    <div *ngIf="j > 0" class="waiting-time">
                        <h3>Escala - Tempo de espera: {{ calculateWaitTime(flight.segments[j-1].arrival, segment.departure) }}</h3>
                    </div>
                    <div class="segment-section">
                        <h3>Número do voo {{ segment.flightNumber }}</h3>
                        <div class="segment-details">
                            <p>Duração: {{ segment.duration }}</p>
                            <p>Hora de Partida: {{ segment.departure | date: 'HH:mm' }} H</p>
                            <p>Hora de Chegada: {{ segment.arrival | date: 'HH:mm' }} H</p>
                            <p>Origem: {{ segment.originCity.name }}</p>
                            <p>Destino: {{ segment.destinationCity.name }}</p>
                            <p>Companhia aérea: {{ segment.carrier.name }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2>Preços</h2>
    <div class="details-list" *ngIf="!this.userPremium">
        <div class="legend">
            <p>Preço: {{ trip.price }} €</p>
        </div>
        <div class="button">
            <button class="search-btn" (click)="buyTicket(trip)" [disabled]="processingTicket">Comprar</button>
        </div>
    </div>
    <div class="details-list" *ngIf="this.userPremium">
        <div *ngFor="let option of trip.priceOptions" class="option">
            <div class="legend">
                <p>{{ option.agentName }}</p>
                <p>Preço: {{ option.totalPrice }} €</p>
            </div>
            <div class="button">
                <button class="search-btn">Comprar</button>
            </div>
        </div>
    </div>
    <div *ngIf="paymentToDo" class="payment-message">
        Você já tem um pagamento em processo. Por favor dirija-se ao Perfil > Pagamentos para completar ou cancelar o seu pagamento.
    </div>
</div>
