* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab';
}

.flight-data-container {
  width: 95%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #003366;
  border-radius: 5px;
  color: white;
}

  .flight-data-container h2 {
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
  }

.details-list, .flight-details, .segment-details {
  background-color: #004080;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

  .details-list p, .flight-details p, .segment-details p {
    margin: 5px 0;
  }

.flight-section {
  margin-bottom: 20px;
}

.segment-section {
  background-color: #00509e;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

  .segment-section h5 {
    color: #ffcc00;
    margin-top: 0;
  }

.details-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details-list .button {
  order: 1;
}

.details-list .legend {
  margin-right: auto;
}

.search-btn {
  background-color: #009fdb;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: background-color 0.3s;
  margin-top: auto;
}

.payment-message {
  text-align: center;
}
