* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab';
}

.flight-data-container {
  width: 95%;
  max-width: 1500px;
  margin: 20px auto;
  padding: 20px;
  background-color: #FAF9F6;
  border-radius: 10px;
}

  .flight-data-container h2 {
    border-bottom: 2px solid #0E1111;
    padding-bottom: 5px;
  }

.segment-section {
  background-color: #87CEEB;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
}

  .segment-section h5 {
    color: black;
    margin-top: 0;
  }

.flight-details, .segment-details {
  background-color: #006994;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.details-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #87CEEB;
}

.legend {
  padding: 10px 0 10px 30px;
}

.button {
  padding: 10px 30px 10px 0;
}

.search-btn {
  background-color: #009fdb;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: background-color 0.3s;
  margin-top: auto;
}

.payment-message {
  text-align: center;
}

.flight-details,
.segment-details,
.legend {
  color: white;
}

.option {
  display: flex;
  flex-direction: row;
  width: 90%;
  background-color: #006994;
  margin: 10px;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
}
