@media (min-width: 900px) {
  .home-component {
    max-width: 100%;
  }
}

#plane {
  float: right;
  padding-top: 150px;
  width: 50%;
}

.slogan {
  font-family: 'Roboto Slab', serif;
  color: white;
  text-align: center;
  font-size: 50px;
  padding-top: 250px;
  padding-right: 150px;
}

.home-component {
  background-image: url(../../assets/Images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}
